@import '../../styles/themes.scss';

button {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: map-get($theme-light, 'buttonBg');
  color: map-get($theme-light, 'text');
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover:not(:disabled) {
    background-color: map-get($theme-light, 'buttonHover');
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  @media (prefers-color-scheme: dark) {
    background-color: map-get($theme-dark, 'buttonBg');
    color: map-get($theme-dark, 'text');

    &:hover:not(:disabled) {
      background-color: map-get($theme-dark, 'buttonHover');
    }
  }
}
