.page-HomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  gap: 20px;

  .home-page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;

    h2 {
      margin-bottom: 1rem;
      font-size: 1.5rem;
      font-weight: 400;
    }
  }

  .home-page-users-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 200px);
    flex: 1;
  }
}